*.class
*.html
*.iml
*.log
*.o
*.pdf
*~
.DS_Store
.\#*
.bloop
.bsp
.classpath
.git
.idea
.idea_modules
.metals
.project
.sbtopts
.settings
.vscode
/project/project/
\#*
project/metals.sbt
target/
test-output
